:root {
  --color1: #2b2d42;
  --color2: #8d99ae;
  --color3: #edf2f4;
  --color4: #ef233c;
  --color5: #d90429;
}

html,
body {
  height: 100%;
  margin: 0;
  color: var(--color1);
  background-color: var(--color3);
  overflow: hidden;
}

button {
  padding: 2.4vh;
  margin: 1vh;
  font-size: 2vh;
  border-radius: 13px;
  border: 2px solid var(--color2);
  background-color: var(--color1);
  color: var(--color3);
}

#cursor {
  pointer-events: none;
  position: absolute;
  width: 15px;
  height: 22px;
}

#game {
  position: absolute;
  bottom: 50%;
  right: 50%;
}

#win-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 7%;
  border-radius: 2vh;
  background-color: var(--color1);
  color: var(--color3);
}

#stats-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100px;
}

#stats {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 60vh;
  padding: 3vh;
  border-radius: 2vh;
  background-color: var(--color1);
  color: var(--color3);
  overflow: scroll;
}

#stats::-webkit-scrollbar {
  display: none;
}

#stats table {
  width: 100%;
  border-collapse: collapse;
}

#stats table tr {
  border-bottom: 1px solid var(--color2);
}

#stats table tr th {
  padding: 0.5vh;
}
#stats table tr td {
  padding: 1vh;
  text-align: center;
}

#mouse-alert {
  position: absolute;
  width: 50%;
  left: 25%;
  margin: 0vh;
  padding: 0.7vh;
  background-color: var(--color4);
  color: var(--color3);
  font-size: larger;
  text-align: center;
  border: 3px solid var(--color5);
  border-width: 4px 4px 0 4px;
  border-radius: 3vh 3vh 0 0;
}

.mouse-alert-hidden {
  bottom: -10vh;
}
.mousein-alert {
  bottom: -10vh;
  animation: go-out 1s 1;
}
.mouseout-alert {
  bottom: 0;
  animation: come-in 1s 1;
}

@keyframes come-in {
  0% {
    bottom: -10vh;
  }
  100% {
    bottom: 0;
  }
}

@keyframes go-out {
  0% {
    bottom: 0;
  }
  90% {
    bottom: -10vh;
  }
}

#absolute-btn {
  position: absolute;
}

#prison {
  position: absolute;
  top: 42vh;
  width: 24vh;
  height: 24vh;
  border: 2px dashed var(--color5);
  border-radius: 100%;
}

.lantern-cursor{
  border-radius: 100%;
  padding: 36px 40px;
  background-color: rgba(256,256,200, 0.2);
  box-shadow: inset 0px 0px 25px 5px #3e3e00, 0px 0px 72px 40px #444400, 0px 0px 0px 99999px black;
}