html,body {
  height: 100%;
}
* {
  cursor: none;
}

#cursor {
  pointer-events: none;
  position: absolute;
  width: 15px;
  height: 22px;
}

#game {
  position: absolute;
  bottom: 50%;
  right: 50%;
}

button {
  padding: 2.4vh;
  margin: 1vh;
  font-size: 2vh;
  border-radius: 13px;
  border: 2px solid grey;
  background-color: #222;
  color: white;
}

#running_btn {
  position: absolute;
}

#prison {
  position: absolute;
  top: 42vh;
  width: 24vh;
  height: 24vh;
  border: 2px dashed red;
  border-radius: 100%;
}
